.vagrant
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/plotscript-HaydenSingleton/v15/.suo
.vs/plotscript-HaydenSingleton/v15/Browse.VC.db
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/594b87bcde3c4cb9/PARSE.ipch
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/5e516f431f8b9ae7/ENVIRONMENT_TESTS.ipch
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/b510fdb43988c96e/EXPRESSION.ipch
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/db73fed0fb79791c/INTERPRETER.ipch
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/dfc239f14301716f/PARSE_TESTS.ipch
.vs/plotscript-HaydenSingleton/v15/ipch/AutoPCH/fc564132895c0f43/ATOM.ipch
